{
  "teams": [{
    "name": "",
    "members": [{
      "name": "",
      "email": "",
      "membershipIntervals": [{
        "start": "",
        "end": ""
      }],
      "seniorityDate": "",
      "status": "",
      "role": "",
      "salary": ""
    }]
  }]
}
