{
  "teams": [{
    "name": "",
    "stack": "",
    "color": "",
    "members": [{
      "name": "",
      "email": "",
      "membershipIntervals": [{
        "start": "",
        "end": ""
      }],
      "seniorityDate": "",
      "active": 1,
      "role": "",
      "salary": 0
    }]
  }]
}
